node red flow
[{"id":"37d926a1.57481a","type":"ncd-wireless-node","z":"d60c2055.09966","name":"Vibration","connection":"cea93021.d1808","config_comm":"cea93021.d1808","addr":"","sensor_type":"8","auto_config":true,"node_id":0,"delay":"5","destination":"0000FFFF","power":"1","retries":10,"pan_id":"7FFF","change_enabled":false,"change_pr":"0","change_interval":"0","cm_calibration":"0","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_threshold":"","impact_duration":"","x":80,"y":540,"wires":[["4530cdfd.027174","9a92592.96adba8"]]},{"id":"8cca67d4.872b78","type":"ui_chart","z":"d60c2055.09966","name":"","group":"b9921d8e.1c2cf","order":1,"width":"12","height":"6","label":"RMS in milli g","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":700,"y":480,"wires":[[],[]]},{"id":"4530cdfd.027174","type":"split","z":"d60c2055.09966","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":250,"y":540,"wires":[["12594db8.34ad92"]]},{"id":"12594db8.34ad92","type":"switch","z":"d60c2055.09966","name":"","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"rms_.*","vt":"str","case":false},{"t":"regex","v":"max_.*","vt":"str","case":false},{"t":"regex","v":"min_.*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":540,"wires":[["8cca67d4.872b78","9ee79cdb.b4cce"],["3172eecd.051772","e76dfd77.85ce4"],["c23cd1c2.6c897","b0d2ca3e.37f3c8"]]},{"id":"3172eecd.051772","type":"ui_chart","z":"d60c2055.09966","name":"","group":"b9921d8e.1c2cf","order":2,"width":"6","height":"6","label":"Max in milli g","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":520,"wires":[[],[]]},{"id":"c23cd1c2.6c897","type":"ui_chart","z":"d60c2055.09966","name":"","group":"b9921d8e.1c2cf","order":3,"width":"6","height":"6","label":"Min in milli g","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-2000","ymax":"0","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":560,"wires":[[],[]]},{"id":"9ee79cdb.b4cce","type":"ui_chart","z":"d60c2055.09966","name":"","group":"2c33d3e.ab03e2c","order":0,"width":"12","height":"6","label":"RMS","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"8000","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":890,"y":480,"wires":[[],[]]},{"id":"e76dfd77.85ce4","type":"ui_chart","z":"d60c2055.09966","name":"","group":"2c33d3e.ab03e2c","order":0,"width":"6","height":"6","label":"Max","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"8000","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":890,"y":520,"wires":[[],[]]},{"id":"b0d2ca3e.37f3c8","type":"ui_chart","z":"d60c2055.09966","name":"","group":"2c33d3e.ab03e2c","order":0,"width":"6","height":"6","label":"Min","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-8000","ymax":"0","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":890,"y":560,"wires":[[],[]]},{"id":"efc88ac1.522bf8","type":"ui_slider","z":"d60c2055.09966","name":"","label":"","group":"b9921d8e.1c2cf","order":5,"width":0,"height":0,"passthru":false,"topic":"","min":0,"max":"3.3","step":".1","x":610,"y":680,"wires":[[]]},{"id":"9a92592.96adba8","type":"change","z":"d60c2055.09966","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":640,"wires":[["efc88ac1.522bf8","5a90b17a.88498"]]},{"id":"5a90b17a.88498","type":"ui_text","z":"d60c2055.09966","group":"b9921d8e.1c2cf","order":4,"width":0,"height":0,"name":"","label":"Battery","format":"{{msg.payload|number:3}}V","layout":"row-center","x":640,"y":640,"wires":[]},{"id":"cea93021.d1808","type":"ncd-gateway-config","z":"","name":"USB","port":"/dev/tty.usbserial-A13F9BI2","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"b9921d8e.1c2cf","type":"ui_group","z":"","name":"Vibration","tab":"e53c20bc.f57f2","disp":true,"width":"12","collapse":false},{"id":"2c33d3e.ab03e2c","type":"ui_group","z":"","name":"Vibration","tab":"2603c584.d353ba","disp":true,"width":"12","collapse":false},{"id":"e53c20bc.f57f2","type":"ui_tab","z":"","name":"Current","icon":"dashboard"},{"id":"2603c584.d353ba","type":"ui_tab","z":"","name":"History","icon":"dashboard"}]
